* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito";
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 3px solid rgb(255, 158, 1);
  z-index: 10;
}
header h1 {
  color: rgb(166, 207, 1);
}
header div ul {
  display: flex;
  justify-content: center;
  padding-left: 30px;
}
header div ul li {
  list-style-type: none;
  font-size: large;
}
header div ul li a {
  text-decoration: none;
  color: black;
}

header div ul li .active {
  background-color: rgb(255, 158, 1);
  border-radius: 20px;
  padding: 7px 14px;
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 50px;
  padding-top: 20px;
  gap: 40px;
    height: 100vh;
    background-image: url(./assets/images/bg.png);
    background-size: cover;
    overflow: hidden;
}
.hero p {
  font-size: larger;
  padding-top: 20px;
}
.hero h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  
}
.hero a{
  background-color: rgb(255, 158, 1);
  margin-top: 10px;
  padding: 15px 0px;
  font-size: larger;
}
.hero div{
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
 opacity: 0; 
    animation: slideInBounceText 1.2s ease-out forwards;

}
.hero img{
  width: min(400px);
  height: min(400px);
  border-radius:50%;
  box-shadow: 0px 5px 5px 5px rgb(166, 207, 1);
  opacity: 0; 
    animation: slideInBounceImage 1.2s ease-out forwards;
    animation-delay: 0.3s;
}

a {
  font-size: medium;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  outline: none;
  width: min(200px);
  align-self: center;
  padding: 10px 15px;
}
 
.hero a:hover {
  background-color: rgb(166, 207, 1);
}
@media (max-width: 776px) {
  header h1 {
    font-size: 1rem;
  }
  header {
    justify-content: center;
    gap: 2px;
  }
  header div ul li .active {
    padding: 5px 5px;
    font-weight: bolder;
    text-align: center;
  }
  .hero {
    background-position: center;
  }
  .hero img{
   display: none;
  }
  .noteIcon {
    font-size: 1rem;
  }
  

}
@keyframes flyIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInBounceText {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    60% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Keyframe Animation for the Image */
@keyframes slideInBounceImage {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    60% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
          opacity: 1;
    }
}
@media (min-width: 768px){
  .hero{
    height: 80vh;
    padding: 40px;
  }

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.social-media .social-icon {
  color: rgb(255, 158, 1);
  font-size: 1.5rem;
  margin: 3px;
  transition: transform 0.6s ease;
}
.social-media .social-icon:hover {
  transform: scale(1.2) translateY(-5px);
  color: rgb(166, 207, 1);
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-found img {
  animation-name: flyIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}


.not-found a {
  background-color: rgb(255, 158, 1);
  margin-top: 20px;
}
@media (max-width: 760px) {
  .not-found h1 {
    font-size: xx-large;
  }
  .not-found img {
    width: 300px;
  }
}

.add-note {
  display: flex;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.add-note button {
  background-color: rgb(255, 158, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 30px;
  font-size: 1.4rem;
}
.noteFom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding-top: 20px;

}
.noteForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  width: 100%;
  gap: 20px;
  justify-content: center;
}
.closeIcon {
  font-size: x-large;
  padding: 3px;
  background-color: rgb(255, 158, 1);
  border-radius: 50%;
  cursor: pointer;
  font-weight: border;
  margin-left: auto;
}
.closeIcon:hover {
  background-color: rgb(166, 207, 1);
}
.noteForm-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.noteForm-container form label {
  align-self: flex-start;
  font-size: 1em;
  font-weight: 500;
  color: #555;
  margin-bottom: 2px;
}

.noteForm-container form input,
.noteForm-container form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d8dd;
  border-radius: 8px;
  font-size: 1em;
  color: #333;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.noteForm-container form textarea {
  height: 180px;
  resize: none;
  overflow-y: auto;
}

.noteForm-container form input:focus,
.noteForm-container form textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 3px 1px rgb(255, 158, 1);
}

.noteForm-container form button {
  width: 100%;
  background-color: rgb(255, 158, 1);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  padding: 12px 0;
  margin-top: 15px;
  transition: background-color 0.4s ease, transform 0.1s ease;
}

.noteForm-container form button:hover {
  background-color: rgb(166, 207, 1);
  transform: translateY(-2px);
}
.search-bar {
  max-width: 300px;
  width: 50%;
  position: relative;
}
.search-bar form {
  width: 100%;
}
.search-bar form input {
  width: 100%;
  max-width: 400px;
  padding: 7px 25px;
  border-radius: 30px;
  border: 2px solid rgb(166, 207, 1);
}
.search-icon {
  color: rgb(166, 207, 1);
  font-size: 1.7rem;
  position: absolute;
  padding-top: 10px;
  left: 0;
  padding-left: 5px;
}
.search-filter {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding-top: 30px;
}
.filter select {
  border: 2px solid rgb(166, 207, 1);
  padding: 7px 15px;
}
.notes-card-container {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 40px;
  flex-wrap: wrap;
}

.note-card {
  height: min(400px);
  max-width: 350px;
}
.note-card ul,
ol {
  padding-left: 30px;
}
.notes-card-container .main-container {
  position: relative;
}
.notes-card-container .note-card {
  padding: 20px;
  box-shadow: 0px 0px 5px 1px rgb(255, 158, 1);
  border-radius: 20px;
}
.note-card p {
  padding-top: 10px;

  text-align: justify;
}
.notes-card-container .main-container:hover .actions {
  display: block;
}
.notes-card-container .actions {
  max-width: 350px;
    border-radius: 20px;

  width: 100%;
  background-color: rgba(255, 158, 1, 0.8);
  padding: 50px;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  max-height: 400px;
  display: none;
}

.notes-card-container .actions button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  font-weight: bolder;
}
.notes-card-container .actions button:hover {
  background-color: rgb(166, 207, 1);
}
@media (max-width: 768px) {
  .add-note {
    padding: 10px;
  }
  .search-filter {
    flex-wrap: wrap;
  }
  .search-bar {
    width: 100%;
  }
}
.delete-container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  padding: 30px;
  background-color: rgb(166, 207, 1);
  border-radius: 7px;
  z-index: 10;
}
.main-delete-con {
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  text-align: center;
}
.delete-container button {
  padding: 7px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

/*  read mode */

.note-content {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 95%;
  border: 1px solid rgb(255, 158, 1);
  padding: 30px;
  border-radius: 7px;
  gap: 10px;
  margin: 20px;
  margin-top: 40px;
}
.note-content p {
  text-align: justify;
  line-height: 30px;
}
.note-content ol,
ul {
  padding-left: 30px;
}

.note-color {
  align-self: flex-end;
}
.note-color select {
  width: 200px;
  padding: 7px;
  font-size: 0.9rem;
}

/*  Note area colors */
.white-area {
  background-color: #fff;
}
.sepia-area {
  background-color: #fcf5e8;
}
.lightGreen-area {
  background-color: rgb(221, 248, 110);
}
.arrow {
  margin: 30px;
  background-color: rgb(255, 158, 1);
  font-size: 2.3rem;
  padding: 4px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.arrow:hover {
  background-color: rgb(166, 207, 1);
}
/* Quill editor */
.ql-editor {
  min-height: 200px;
  max-height: 30vh;
  overflow-y: auto;
}

.ql-snow.ql-toolbar .ql-picker-label:hover {
  background-color: rgb(255, 158, 1);
}
.ql-snow.ql-toolbar button:hover {
  background-color: rgb(255, 158, 1);
  color: black;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action-buttons button {
  padding: 7px 20px;
  background-color: rgb(255, 158, 1);
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  font-size: medium;
  border: none;
  font-weight: bolder;
}
button {
  background-color: rgb(255, 158, 1);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: bolder;
  font-size: medium;
  cursor: pointer;
}
button:hover {
  background-color: rgb(166, 207, 1);
  border: none;
}
.quiz-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.question {
  background-color: #fff;
  width: min(90%, 500px);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
}

.question h3 {
  padding-top: 15px;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.3rem;
  line-height: 1.4;
}

.current-score {
    margin-bottom: 20px;
    font-size: 1.1em;
    font-weight: 500;
    color: rgb(255, 158, 1);
}

.question ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.question li {
  border: 2px solid rgb(255, 158, 1);
  padding: 12px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.question li:hover:not(.correct):not(.incorrect) {
    background-color: rgba(255, 158, 1, 0.1);
}

.correct {
  background-color: rgb(166, 207, 1);
  border-color: rgb(166, 207, 1);
  color: #333;
  font-weight: bold;
}
.incorrect {
  background-color: rgb(244, 77, 77);
  border-color: rgb(244, 77, 77);
  color: white;
  font-weight: bold;
}

.quiz-navigation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.quiz-navigation-buttons button {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgb(255, 158, 1);
  color: white;

}
.quiz-navigation-buttons button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quiz-result-container {
    background-color: #fff;
    width: min(90%, 450px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}
.quiz-result-container h2 {
    color: rgb(166, 207, 1);
    margin-bottom: 10px;
}
.score-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.try-again-button {
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 158, 1);
    color: white;
    font-size: 1.1em;
}

.quiz-error-screen {
    background-color: #fff;
    width: min(90%, 450px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
}
.quiz-error-screen h2 {
    color: rgb(244, 77, 77);
}
.summary-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.note-summary {
  display: flex;
  flex-direction: column;
  width: min(80%, 800px);
  max-height: 90vh;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1001;
  gap: 20px;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
}

.note-summary h2 {
    padding-right: 30px;
    margin-top: 0;
}

.note-summary p {
  line-height: 1.7;
}

@media (max-width: 678px) {
  .summary-container {
    padding: 10px;
  }
  .note-summary {
    width: 95%;
    height: 95vh;
    max-height: 95vh;
    padding: 20px;
  }
  .note-summary h2 {
    font-size: 1.4rem;
  }
}
.no-note{
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  gap: 10px;
}
.no-note img{
  width: min(300px);
  height: min(260px);
  border-radius: 50%;
}

.why-smartNote{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #E6F0DA;
  justify-content: center;
  text-align: center;
  padding: 70px 10px;
}
.why-smartNote h1{
  font-size: 3rem;
  font-weight: 900;

}

.why-smartNote div h2{
  font-size: 2.6rem;
}
.why-smartNote div h4{
  font-weight: 400;
  font-size: 1.1rem;
}
.why-smartNote img{
  width: 100%;
  max-width: 600px;
  height: auto;
  align-self: center;
}

.problem-solution {
    background-image: url(./assets/images/unnamed\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 20px; 
    gap: 60px; 
    display: flex; 
    flex-direction: column;
}

.problems, .solutions{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px; 
    gap: 30px;
}

.problems h1, .solutions h1 {
    font-size: 2.5em; 
    color: #1a1a1a; 
    margin-bottom: 10px;
}

.problems p, .solutions p {
    font-size: 1.1em;
    max-width: 700px;
    color: #555;
    line-height: 1.6;
}


.problem-cards , .solution-card{
   display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 30px;
 
}

.problem-cards div, .solution-card div{
    max-width: 320px; 
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.95); 
    border: 1px solid rgba(0, 0, 0, 0.05); 
}

.solution-card {
padding-bottom: 30px;

}

.problem-cards div {
      box-shadow: 0 20px 40px rgba(166, 207, 1, 0.2); 
}

.solution-card div {   
   box-shadow: 0 20px 40px rgba(255, 158, 1, 0.2); 

}
.problem-cards div h3, .solution-card div h3 {
    font-size: 1.4em;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #2c3e50; 
}


.problem-cards div svg, .solution-card div svg {
    color: rgb(166, 207, 1);
    font-size: 2.5em; 
}
.search{
  font-size: 4rem;
}
.solution-card div svg {
    color: rgb(166, 207, 1); 
}

.problem-cards div:hover, .solution-card div:hover {
    transform: translateY(-10px);
}



@media (max-width: 900px) {
    /* .problem-cards, .solution-card {
        flex-direction: column; 
        align-items: center;
        width: 100%;
        padding: 0 20px; 
    } */
/*     
    .problem-cards div, .solution-card div {
        max-width: 100%; 
        width: 100%;
        box-sizing: border-box; 
    } */
    
    .problems, .solutions {
        padding: 30px 10px; 
        gap: 30px;
    }
    
    .problem-solution {
        padding: 40px 0; 
        gap: 40px;
    }
    
    .problems h1, .solutions h1 {
        font-size: 2em; 
    }
}