*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}
.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
header{
display: flex;
flex-direction:row;
position: sticky;
top: 0;
justify-content: space-evenly;
align-items: center;
padding: 20px;
border-bottom: 3px solid rgb(255, 158, 1);
}
header h1{
    color: rgb(166, 207, 1);
}
header div ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 30px;
}
header div ul li{
    list-style-type: none;
    font-size: large;
}
.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 50px;
 padding-top: 80px;
 text-align: center;
}
.hero p{
    font-size: large;
}
.hero h2{
    color: rgb(166, 207, 1);
    font-size: 2.6rem;
    text-align: center;
}
button{
    background-color: rgb(255, 158, 1);
    font-size: medium;
    border-radius: 7px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
     outline: none;
    box-shadow: 2px 5px 5px 0px rgb(166, 207, 1);
}
.hero button{
      margin-top: 50px;
         padding: 15px 25px;
}

@media (max-width: 400px){
    header h1{
        font-size: 1.3rem;
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-top: 3px solid rgb(255, 158, 1);
}
.social-media .social-icon{
     color: rgb(255, 158, 1);
     font-size: 1.5rem;
     margin: 3px;
         transition: transform 0.6s ease;

}
.social-media .social-icon:hover{
 transform: scale(1.2) translateY(-5px); 
 color: rgb(166, 207, 1);
}
